*{
    padding: 0;
    margin: 0;
}

:root{
    --dark-teal: #005F60;
    --teal: #7cd7ce;
}

body{
    background-color: var(--teal);
}

.container{
    height: 70vh;
    width: 60vw;
    margin: 1rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    color: var(--dark-teal);
}

.flexing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 1rem auto;
}

label{
    color: var(--dark-teal);
    font-weight: 900;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

input{
    height: 2vh;
    width: 10vw;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    border: 2px solid var(--dark-teal);
    border-radius: 0.6rem;
}

.btn{
    padding: 0.6rem;
    margin-top: 1rem;
    border: 2px solid var(--dark-teal);
    border-radius: 0.6rem;
}

.btn:hover{
    transition: all 100ms;
    transform: scale(1.4);
    color: white;
    background-color: var(--dark-teal);
    border: 2px solid white;
}

.display-msg-div{
    height: 10vh;
    width: auto;
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
}